*.pbxproj -text
*.re linguist-language=Reason
*.rei linguist-language=Reason
*.res linguist-language=Reason
*.resi linguist-language=Reason
*.java linguist-language=Text
*.rb linguist-language=Text
Podfile linguist-language=Text
*.h linguist-language=Text
*.m linguist-language=Text
